@{
    ViewBag.Title = "About";
}


<h2>Team one</h2>
<ul>
    <li>Butcher, Matthew</li>
    <li>Durham, Devonte</li>
    <li>Kleman, Devin</li>
    <li>Lipke, Joseph</li>
    <li>Sullivan, Jess</li>
</ul>
