@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>It All Started With One Idea</h1>
    <p class="lead">"What if the hassle of getting groceries wasn't a problem?"</p>
    <p class="lead">And that is what we set out to do with this service</p>
    <p class="lead">We let customers pick the products they need, whether that be ingredients for dinner or supplies for their next big project,</p>
    <p class="lead">And tell them exaclty where they can find it, in the exact aisle they need.</p>
</div>
