@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>Contact Us</h1>
    <ul>
        <li>Matthew Butcher: ButcherM@grocerygetter.com </li>
        <li>Devonte Durham: devonte.durham@outlook.com </li>
        <li>Devin Kleman: Devin.m.k94@gmail.com </li>
        <li>Joseph Lipke: JosephL@grocerygetter.com </li>
    </ul>
</div>
