@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>Contact Us</h1>
    <p class="lead">
        We value our customers and wish to hear from all. If you have a question,
        suggestion, complaint or other, please send an e-mail to the team member
        that fits what you want to disscus.
    </p>
    <ul>
        <li>Matthew Butcher, Head of Opperations: ButcherM@grocerygetter.com </li>
        <li>Devonte Durham, Service and Database: DevonteD@grocerygetter.com </li>
        <li>Devin Kleman, Stock and Products: DevinK@grocerygetter.com </li>
        <li>Joseph Lipke, Website and Maintenace: JosephL@grocerygetter.com </li>
        <li>Jess Sullivan, Tranasctions and Help Desk: JessS@grocerygetter.com </li>
    </ul>
    <p class="lead">Or give us a call at 1-800-867-5309 Mondays through Fridays 10AM to 12AM</p>
</div>
