@{
    ViewBag.Title = "Contact";
}

<div class="main_content rounded-top main">
    <h1>Contact Us</h1>
    <ul>
        <li>Matthew Butcher: Butcher.I.Matt@Gmail.com </li>
        <li>Devonte Durham: Devonte.Durham@Outlook.com </li>
        <li>Devin Kleman: Devin.M.K94@Gmail.com </li>
        <li>Joseph Lipke: JosephL@grocerygetter.com </li>
    </ul>
</div>
