
@{
    ViewBag.Title = "Home Page";

}

<div class="main_container main_content rounded-top main">
    <h1>Welcome to Grocery Getter!</h1>
    <p class="lead">Here at Grocery Getter, we have one purpose: To make the hassle of getting your groceries hassle free! </p>
</div>

<div id="carouselExampleIndicators" class="carousel slide main_content rounded-top" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div style="height:200px; opacity:25;">
                <h2 style="color:black; padding-left:1%; padding-top:1.5%">View Our Ever Growing Products Page</h2>
                <p style="color:black; padding-left:1%; padding-top:1.5%">
                    Click here to view our ever growing products section and take a look at what you need.
                </p>
                <h5 style="color:black; padding-left:15%; padding-top:1.5%"><a href="https://localhost:44361/Product">Take me to the products! &raquo;</a></h5>
            </div>

            <img class="d-block w-100" src="~/Images/SlidePics/products.jpg" alt="First slide">
        </div>
        <div class="carousel-item">

            <div style="height:200px; opacity:25;">
                <h2 style="color:black; padding-left:1%; padding-top:1.5%">Get To Know What Grocery Getter Is All About</h2>
                <p style="color:black; padding-left:1%; padding-top:1.5%">Read about what it is we do.</p>
                <h5 style="color:black; padding-left:15%; padding-top:1.5%"><a href="https://localhost:44361/Home/About">Learn more &raquo;</a></h5>
            </div>

            <img class="d-block w-100" src="~/Images/SlidePics/About.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">

            <div style="height:200px; opacity:25;">
                <h2 style="color:black; padding-left:1%; padding-top:1.5%">Contact The Team of Grocery Getter</h2>
                <p style="color:black; padding-left:1%; padding-top:1.5%">Meet the team behind Grocery Getter and find out how to contact us.</p>
                <h5 style="color:black; padding-left:15%; padding-top:1.5%"><a href="https://localhost:44361/Home/Contact">Contact us &raquo;</a></h5>
            </div>

            <img class="d-block w-100" src="~/Images/SlidePics/contact.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>