
@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Welcome to Grocery Getter!</h1>
    <p class="lead">Here at Grocery Getter, we have one purpose: To make the hassle of getting your groceries hassle free! </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Our Ever Growing Products Page</h2>
        <p>
            Click here to view our ever growing products section and take a look what you need.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44361/Product">Take me to the products! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get To Know What Grocery Getter Is All About</h2>
        <p>Read about what it is we do.</p>
        <p><a class="btn btn-default" href="https://localhost:44361/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact The Team of Grocery Getter</h2>
        <p>Meet the team behind Grocery Getter and find out how to contact us.</p>
        <p><a class="btn btn-default" href="https://localhost:44361/Home/Contact">Contact us &raquo;</a></p>
    </div>
</div>