body {
    padding-bottom: 20px;
    background-color: lightgrey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Format the Banner */
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: maroon;

}

/* Format the Logo */
#logo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 125px;
}

#list {
    margin-left: 50px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Center a group*/
.block-center {
    display: flex;
    justify-content: center;

}

.login-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0em;
    padding-right: 0em;
    min-width: 350px;
}