
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_container main_content rounded-top">
    <br />
    <h2>You have successfully logged out.</h2>
    <br />
</div>
