
@model IEnumerable<GroceryGetter.BL.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_container main_content rounded-top">

    <h2>Available Stores</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
    

        @foreach (var store in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => store.Title)
                </td>

                <td>
                    @Html.ActionLink("Update", "Edit", new { id = store.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = store.Id })
                </td>
            </tr>
        }

    </table>
</div>
