@model IEnumerable<GroceryGetter.BL.Models.Store>


<table>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
    </tr>
}

</table>
