@model IEnumerable<GroceryGetter.BL.Models.Store>


<table>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Title)*@
            @Html.ActionLink(item.Title, "LoadByStoreId", "UserProduct", new { Id = item.Id, Title = item.Title }, null)
        </td>
        
    </tr>
}

</table>
